{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!---------------------------Jqery--------------------------->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
    <!---------------------------bootstrap--------------------------->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <!------------------------------------------------------------------------------------------------------------->
    <script src="{% static 'js/travalokel.js' %}"></script>    
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <!----------------------------------------------------Title--------------------------------------------------------->
    <title>{% block title %}{% endblock %}</title>
    <!-----------------------------------------------Addition css & js----------------------------------------------->
    {%block head%}{%endblock%}
    <!--------------------------------------------------content----------------------------------------------------------->
    {% block content %}
    {% endblock %}
</html>
